.media-image--background {
	z-index: -2;
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;   
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-position: center center;
  height: 100%;
}