{{ attach_library('sbr_media_image_background/media-image--background') }}
{%
  set classes = [
  	'media-image--background',
  	'media-image--background-' ~ media_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if content %}
    {{ content }}
  {% endif %}
</div>
